img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(37, 37, 37, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

nav.navbar {
  background-color: royalblue !important;
}
footer {
  background-color: royalblue !important;
}
h5.add-more-head {
  margin-top: 20px;
}
li.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.post-form {
  margin-top: 20px;
  max-width: 600px;
  margin: 50px auto;
}
.card-header {
  text-align: center;
}
